html {
  background-color: #c9b5ab;
  color: #222;
  font-size: 1.125rem;
  font-weight: normal;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
  text-decoration: none;
}

h2 {
  color: #3f1622;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: none;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

dl {
  font-weight: bold;
  font-size: 1.125rem;
}

figure + p {
  font-weight: bold;
  font-family: "PT Serif", serif;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

ol {
  list-style-type: lower-greek;
  font-size: 1.125rem;
}

img {
  width: 100%;
}
